<?xml version="1.0" encoding="gb2312"?>
<!-- 版本信息-->
<Version>001</Version>

<!-- 全局服务器类型的注册信息-->
<!-- 防止出错，ID递增方式, 和后面需要匹配，用于校验配置是否争取-->
<GlobalServerType>
<ServerType LabelId="001" Name="Access" />
<ServerType LabelId="002" Name="Corss"/>
<ServerType LabelId="003" Name="Login" />
<ServerType LabelId="004" Name="DataSync"/>
<ServerType LabelId="005" Name="Offline"/>
</GlobalServerType>

<!-- 使用的配置组 -->
<InitSystemCfg>
<GroupServers GroupLabelName="GP001"/>
</InitSystemCfg>

<!-- 根据服务器的类型对应每个服务器协议规则-->
<!-- ********************************************-->
<!-- *************  1.通信接入服务器  ***********-->
<!-- ********************************************-->
<ServerCfg LabelId="001" Name="Access">
	<!-- 服务器分组配置: 按照组名称 "GP001"-->
	<GroupServers GroupLabel="GP001" >
		<!-- 该组类型的分发协议规则-->
		<ProtoColRule Name="Login" 	  Enable="1" LevelCode1="001" LevelCode2="001" LevelCode3="001" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="Corss" 	  Enable="1" LevelCode1="002" LevelCode2="001" LevelCode3="none" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="DataSync" Enable="1" LevelCode1="003" LevelCode2="002" LevelCode3="003" LevelCode4="001" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="Offline"  Enable="0" LevelCode1="003" LevelCode2="002" LevelCode3="003" LevelCode4="001" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
	</GroupServers>
	<!-- 服务器分组进行配置: 按照组名称 "GP002"-->
	<GroupServers GroupLabel="GP002">
		<!-- 该组类型的分发协议规则-->
		<ProtoColRule Name="Login" 	  Enable="1" LevelCode1="001" LevelCode2="001" LevelCode3="none" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="Corss" 	  Enable="1" LevelCode1="002" LevelCode2="001" LevelCode3="001" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="DataSync" Enable="1" LevelCode1="003" LevelCode2="002" LevelCode3="003" LevelCode4="001" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
	</GroupServers>
</ServerCfg>

<!-- ********************************************-->
<!-- *************  2.交叉通信服务器  ***********-->
<!-- ********************************************-->
<ServerCfg LabelId="002" Name="Corss">
	<!-- 分组配置: 按照组名称 "GP001"-->
	<GroupServers GroupLabel="GP001" >
		<!-- 该组类型的分发协议规则-->
		<ProtoColRule Name="offline"  Enable="1" LevelCode1="001" LevelCode2="none" LevelCode3="none" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
		<ProtoColRule Name="Access"  Enable="1" LevelCode1="001" LevelCode2="none" LevelCode3="none" LevelCode4="none" LevelCode5="none" LevelCode6="none" LevelCode7="none" />
	</GroupServers>
	<!-- 服务器分组进行配置: 按照组名称 "GP002"-->
	<GroupServers GroupLabel="GP002">
		<!-- 该组类型的分发协议规则-->
		<ProtoColRule Name="Login" 	  Enable="1" LevelCode1="001" LevelCode2="001" LevelCode3="001" LevelCode4="001" LevelCode5="001" LevelCode6="001" LevelCode7="001" />
		<ProtoColRule Name="DataSync" Enable="1" LevelCode1="003" LevelCode2="002" LevelCode3="003" LevelCode4="001" LevelCode5="001" LevelCode6="001" LevelCode7="001" />
	</GroupServers>
</ServerCfg>








