<?xml version="1.0" encoding="gb2312"?>
<!-- 版本信息-->
<Version>001</Version>

<!-- 全局服务器类型的注册信息-->
<!-- 防止出错，ID递增方式, 和后面需要匹配，用于校验配置是否一致-->
<GlobalServerType>
	<!-- 根据服务器的类型对应每个服务器协议规则-->
	<!-- 注意所有的协议命令是不可重复的,确保是唯一的 -->
	
	<!-- ********************************************-->
	<!-- *************  1.通信接入服务器  ***********-->
	<!-- ********************************************-->
	<!-- **** 如下的定义了GAccess的两个协议规则 *****-->
	<ServerInfo GroupName="GAccess" GroupId="001"  RuleId="01" LevelCode1="001" LevelCode2="001" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	<ServerInfo GroupName="GAccess" GroupId="001"  RuleId="02" LevelCode1="001" LevelCode2="002" LevelCode3="003" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	
	<!-- ********************************************-->
	<!-- *************  2.交叉通信服务器  ***********-->
	<!-- ********************************************-->
	<ServerInfo GroupName="GCorss"  GroupId="002"  RuleId="01" LevelCode1="002" LevelCode2="001" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	<ServerInfo GroupName="GCorss"  GroupId="002"  RuleId="02" LevelCode1="002" LevelCode2="002" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	<ServerInfo GroupName="GCorss"  GroupId="002"  RuleId="03" LevelCode1="002" LevelCode2="003" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	
	<!-- ********************************************-->
	<!-- *************  3.登录服务器  ***************-->
	<!-- ********************************************-->
	<ServerInfo GroupName="GLogin"  GroupId="003"  RuleId="01" LevelCode1="003" LevelCode2="001" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	<ServerInfo GroupName="GLogin"  GroupId="003"  RuleId="02" LevelCode1="003" LevelCode2="002" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	<ServerInfo GroupName="GLogin"  GroupId="003"  RuleId="03" LevelCode1="003" LevelCode2="003" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	
	<!-- ********************************************-->
	<!-- *************  4.数据上云服务器  ***********-->
	<!-- ********************************************-->
	<ServerInfo GroupName="GDataSync" GroupId="004"  RuleId="01" LevelCode1="001" LevelCode2="001" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	
	<!-- ********************************************-->
	<!-- *************  5.离线消息服务器  ***********-->
	<!-- ********************************************-->
	<ServerInfo GroupName="GOffline" GroupId="005"  RuleId="01" LevelCode1="001" LevelCode2="001" LevelCode3="001" LevelCode4="000" LevelCode5="000" LevelCode6="000" LevelCode7="000"/>
	
</GlobalServerType>






